.fernandaLogo {
  width: 30vh;
  height: 30vh;
  margin: auto;
}

.particle {
  position: absolute;
  width: 100%;
  height: 80vh;
}

.bg1 {
  background-color: #242c51;
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Fernanda/Fer-Darkness.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  background-repeat: repeat;
}

.bg3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/DarkerBG.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg4 {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  background-repeat: repeat;
}

.bg5 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-darker-color);
  min-height: 30vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (max-width: 1000px) {

  .bg1 {
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg3 {
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
  }

  .bg5 {
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
  }
}